body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.link-logo {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.54px;
  line-height: 1.17;
}
.logo-text {
  color: #2e2f42;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-address {
  font-style: normal;
}
.header-address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.header-address-link:hover,
.nav-link:hover,
.header-address-link:focus,
.nav-link:focus {
  color: #404bbf;
}
.nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}
.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.hero-button {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.preference-title {
  color: #2e2f42;
}
.preference-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.preference-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.team {
  background-color: #f4f4fd;
}
.team-item {
  background-color: #fff;
}
.team-title,
.portfolio-title {
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}
.team-subtitle,
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.team-paragraph,
.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.footer {
  background-color: #2e2f42;
}
.footer .link-logo {
  color: #4d5ae5;
}
.footer .logo-text {
  color: #f4f4fd;
}
.footer-paragraph {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
